.newsLetter_root p {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.newsLetter_form {
  display: flex;
}

.newsLetter_form input {
  background: inherit;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

::placeholder {
  color: white;
  text-transform: capitalize;
}

.newsLetter_form button {
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px 25px;
}
