@font-face {
  font-family: "gigopticons";
  src: url("./fonts/gigopt.eot");
  src: url("./fonts/gigopt.svg") format("svg"),
    url("./fonts/gigopt.ttf") format("ttf"),
    url("./fonts/gigopt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.root {
  margin: 0 auto;
}
